<div class="row" ng-repeat="webPageTextAnalysisItem in webPageTextAnalysis.items">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse"data-target="#webPageText">
                        <strong>Contenido de la página localizada en {{ webPageTextAnalysisItem.url }}</strong>
                    </a>
                </h3>
            </div>
            <div id="webPageText" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>{{ webPageTextAnalysisItem.title }}</p>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-target="#webPageEntities">
                        <strong>Entidades</strong>
                    </a>
                </h3>
            </div>
            <div id="webPageEntities" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                <input type="text" class="form-control" placeholder="Filtrar entidades" ng-model="entitiesQuery">
                            </div>
                        </div>
                        <div class="form-group">
                            <h4>Ordenar por...</h4>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline col-md-3">
                                <input type="radio" name="entitiesOrderBy" value="text" ng-model="entitiesOrderBy"> Entidad
                            </label>
                            <label class="radio-inline col-md-3">
                                <input type="radio" name="entitiesOrderBy" value="type" ng-model="entitiesOrderBy"> Tipo de entidad
                            </label>
                            <label class="radio-inline col-md-3">
                                <input type="radio" name="entitiesOrderBy" value="-relevance" ng-model="entitiesOrderBy"> Relevancia
                            </label>
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <p>Named entities specify things such as persons, places and organizations. AlchemyAPI's named entity extraction is capable of identifying people, companies, organizations, cities, geographic features and other typed entities from your HTML, text or web-based content.</p>
                    <p>Entity extraction can add a wealth of semantic knowledge to your content to help you quickly understand the subject of the text. It is one of the most common starting points for using natural language processing techniques to enrich your content.</p>
                </div>
                <table class="table">
                    <colgroup>
                        <col width="40%" />
                        <col width="30%" />
                        <col width="30%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Entidad</th>
                            <th align="center">Tipo de entidad</th>
                            <th align="right">Relevancia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entity in webPageTextAnalysisItem.entities | filter:entitiesQuery | orderBy:entitiesOrderBy">
                            <td>{{entity.text }}<span class="badge pull-right">{{ entity.count }}</span></td>
                            <td><span class="label label-info">{{ entity.type }}</span></td>
                            <td>{{ entity.relevance }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-target="#webPageKeywords">
                        <strong>Palabras clave</strong>
                    </a>
                </h3>
            </div>
            <div id="webPageKeywords" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                <input type="text" class="form-control" placeholder="Filtrar palabras claves" ng-model="keywordsQuery">
                            </div>
                        </div>
                        <div class="form-group">
                            <h4>Ordenar por...</h4>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline col-md-5">
                                <input type="radio" name="keywordsOrderBy" value="text" ng-model="keywordsOrderBy"> Palabra clave
                            </label>
                            <label class="radio-inline col-md-5">
                                <input type="radio" name="keywordsOrderBy" value="-relevance" ng-model="keywordsOrderBy"> Relevancia
                            </label>
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <p>Keywords are the important topics in your content and can be used to index data, generate tag clouds or for searching. AlchemyAPI's keyword extraction API is capable of finding keywords in text and ranking them. The sentiment can then be determined for each extracted keyword.</p>
                    <p>The keyword extraction API works on URLs, HTML documents and plain text. Just like every other feature, AlchemyAPI automatically detects the language of the content and then performs the appropriate analysis.</p>
                </div>
                <table class="table">
                    <colgroup>
                        <col width="60%" />
                        <col width="40%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Palabra clave</th>
                        <th align="right">Relevancia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="keyword in webPageTextAnalysisItem.keywords | filter:keywordsQuery | orderBy:keywordsOrderBy">
                        <td>{{ keyword.text }}</td>
                        <td>{{ keyword.relevance }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>